div.sample{
text-align: center;
margin-left: 25%;
margin-right: 25%;
}

main{
margin-top: 8em;
}

footer{
position: fixed;
bottom: 0;
width: 100%;
}

#barRecherche{
    margin: 0 10px 0 10px;
}

#SearchBtn{
    margin-right: 10px;
}

#StyleForm{
    border: 3px solid rgba(0, 0, 0);
    border-radius: 0 20px 0 20px;
    padding: 15px ;
}

#StyleForm2 {
    border: 3px solid rgba(0, 0, 0);
    border-radius: 0 20px 0 20px;
    padding: 10px ;
    margin-top: 20px;
}

#sectionDetail {
    display: flex;
}

#StyleDiv {
    border: 3px solid rgba(0, 0, 0);
    border-radius: 0 20px 0 20px;
    padding: 15px;
    flex-grow: 1; 
}

#StyleDiv h1{
    color: black;
    font-size: 3em;
    text-align: left;
}

#StyleDiv ul{
    color: black;
    font-size: 1.7em;
    text-align: left;
    padding-left: 2cm;
}

#imgLivre {
    height: 15cm;
    width: auto;
    margin-left: 15px;
    flex-grow: 0;
}

#SignAs{
    color: rgb(255, 255, 255);
    margin-right: 5px;
}

#nomConnecte{
    color: #198452;
    font-weight: bold;
}

#titreLivre {
    text-align: left; 
    font-size: 3em;
}

#auteur{
    color : black;
    font-size: 1.5em;
    text-align: left;
    font-style: italic;
}

#BtnSubmit{
    margin-top: 10px;
}

#Deroulant{
    margin: 20px;
}

#listeGroupeDelete{
    margin-left: 19px;
    margin-right: 19px;
}

#StyleDivDetail {
    border: 3px solid rgba(0, 0, 0);
    border-radius: 0 20px 0 20px;
    padding: 15px;
    flex-grow: 1; 
    position: relative;
}

#BtnEditLivre{
    position:absolute;
    bottom: 0;
    left: 2;
    margin-bottom: 10px;
}

#BtnDelLivre{
    position:absolute;
    bottom: 0;
    left: 7%;
    margin-bottom: 9px;
}

#imgBtnLivre{
    height: 50px;
    width: auto;
}

#infoLivre{
    color : black;
    font-size: 1.5em;
    text-align: left;
    margin-top: 15px;
    margin-left: 15px;
}

.card {
    background-color: #f9f9f9;
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 20px;
    width: 500px;
    margin-left: 100px;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    font-size: 1.25rem;
    color: #333;
}

#AuthorDivBtn{
    display: flex;
    flex-direction: row;
    align-items: center; /* Aligne verticalement les éléments *//* Ajustez la largeur si nécessaire */
    margin-bottom: 10px;
    position: relative;; 
}

#BtnEditAuthor{
    position: absolute;
    right: 0;
}

#BtnDelAuthor{
    position: absolute;
    right: 15%;
}

#imgBtnAuthor{
    height: 50px;
    width: auto;
}

#BtnAuthorAction{
    height: 50px;
    width: auto;
}


main > .container {
    padding: 60px 15px 0;
    }