div.sample{
text-align: center;
margin-left: 25%;
margin-right: 25%;
}
main{
margin-top: 8em;
}
footer{
position: fixed;
bottom: 0;
width: 100%;
}
#barRecherche{
    margin: 0 10px 0 10px;
}

#SearchBtn{
    margin-right: 10px;
}

#StyleForm{
    border: 3px solid rgba(0, 0, 0);
    border-radius: 0 20px 0 20px;
    padding: 10px ;
}

#SignAs{
    color: rgb(255, 255, 255);
    margin-right: 5px;
}

#nomConnecte{
    color: #198452;
    font-weight: bold;
}

#imgLivre{
    margin-left: 90%;
}

#auteur{
    color : black;
    font-size: 1.5em;
    text-align: left;
    font-style: italic;
}

main > .container {
    padding: 60px 15px 0;
    }