div.sample{
text-align: center;
margin-left: 25%;
margin-right: 25%;
}

main{
margin-top: 8em;
}

footer{
position: fixed;
bottom: 0;
width: 100%;
}

#barRecherche{
    margin: 0 10px 0 10px;
}

#SearchBtn{
    margin-right: 10px;
}

#StyleForm{
    border: 3px solid rgba(0, 0, 0);
    border-radius: 0 20px 0 20px;
    padding: 15px ;
}

#StyleForm2 {
    border: 3px solid rgba(0, 0, 0);
    border-radius: 0 20px 0 20px;
    padding: 10px ;
    margin-top: 20px;
}

#sectionDetail {
    display: flex;
}

#StyleDiv {
    border: 3px solid rgba(0, 0, 0);
    border-radius: 0 20px 0 20px;
    padding: 15px;
    flex-grow: 1; 
}

#StyleDiv h1{
    color: black;
    font-size: 3em;
    text-align: left;
}

#StyleDiv ul{
    color: black;
    font-size: 1.7em;
    text-align: left;
    padding-left: 2cm;
}

#imgLivre {
    height: 15cm;
    width: auto;
    margin-left: 15px;
    flex-grow: 0;
}

#SignAs{
    color: rgb(255, 255, 255);
    margin-right: 5px;
}

#nomConnecte{
    color: #198452;
    font-weight: bold;
}

#titreLivre {
    text-align: left; 
    font-size: 3em;
}

#auteur{
    color : black;
    font-size: 1.5em;
    text-align: left;
    font-style: italic;
}

#BtnSubmit{
    margin-top: 10px;
}

#Deroulant{
    margin: 20px;
}

#listeGroupeDelete{
    margin-left: 19px;
    margin-right: 19px;
}

#StyleDivDetail {
    border: 3px solid rgba(0, 0, 0);
    border-radius: 0 20px 0 20px;
    padding: 15px;
    flex-grow: 1; 
    position: relative;
}

#imgBtnLivre{
    height: 50px;
    width: auto;
}

#BtnEditLivre{
    position:absolute;
    bottom: 0;
    left: 2;
    margin-bottom: 10px;
}

#infoLivre{
    color : black;
    font-size: 1.5em;
    text-align: left;
    margin-top: 15px;
    margin-left: 15px;
}



main > .container {
    padding: 60px 15px 0;
    }