{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='home.css')}}">
{% endblock %}

{% block content %}
<form id="StyleForm2" role="form" method="POST" action="{{ url_for('delete_author') }}">
  {{ form.hidden_tag() }}
  
  <div class="{% if form.author.errors %}form-group has-error{% else %}form-group{% endif %}">
    <label for="authorListe">Choisissez un auteur à supprimer :</label>
    
    <select name="author" id="authorListe" class="form-control">
      <option value="">-- Sélectionnez un auteur --</option>
      {% for author in authors %}
        <option value="{{ author[0] }}">{{ author.name }}</option>
      {% endfor %}
    </select>
  </div>

  {% if form.author.errors %}
    <ul class="list-group">
      {% for e in form.author.errors %}
        <li class="list-group-item list-group-item-danger">{{ e }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  
  <input id="BtnSubmit" class="btn btn-danger" type="submit" value="Supprimer">
</form>


{% endblock %}

