{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='home.css')}}">
{% endblock %}

{% block content %}
<form id="StyleForm2" role="form" method="POST" action="{{ url_for('save_delete_author') }}">
  {{ form.hidden_tag() }}
  
  <div class="">
    <label for="authorListe">Etes vous sûr de vouloir supprimer cette auteur ?</label>
  </div>
  <input id="BtnSubmit" class="btn btn-secondary" type="submit" value="Non">
  <input id="BtnSubmit" class="btn btn-danger" type="submit" value="Oui">
  
</form>
{% endblock %}

