{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='home.css')}}">
{% endblock %}
{% block content %}
    <div id="StyleForm">
        <h1 id="titreLivre">
            {{b.title}}
        </h1>
        <ul>
            <li id="infoLivre" >Author: {{ b.author.name }}</li>
        </ul>
        <ul>
            <li id="infoLivre" >Price: {{ b.price }} €</li>
        </ul>
        <img id="imgLivre" src='{{ url_for('static', filename='images/'+b.image) }}'
            alt = '{{b.title}}' title = '{{b.title}}'>
            
    </div>
{% endblock %}