{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='home.css')}}">
{% endblock %}
{% block content %}
<section id="sectionDetail">
    <div id="StyleDivDetail">
        <h1 id="titreLivre">
            {{b.title}}
        </h1>
        <ul>
            <li id="infoLivre" >Author: {{ b.author.name }}</li>
        </ul>
        <ul>
            <li id="infoLivre" >Price: {{ b.price }} €</li>
        </ul>
        {% if current_user.is_authenticated %}
            <button id="BtnEditLivre" type="button" class="btn btn-outline btn-custom">
                <a class="nav-link active" aria-current="page" href="../edit-book/{{ b.id }}"+>
                    <img id="imgBtnLivre" src="{{ url_for('static', filename='images/icons/edit.png')}}" alt="" title="editLivre">
                </a>
            </button>
            <button id="BtnDelLivre" type="button" class="btn btn-outline btn-custom">
                <a class="nav-link active" aria-current="page" href="../delete/book/{{ b.id }}"+>
                    <img id="imgBtnLivre" src="{{ url_for('static', filename='images/icons/delete.png')}}" alt="" title="delLivre">
                </a>
            </button>
        {% endif %}
    </div>
    <div>
        <img id="imgLivre" src='{{ url_for('static', filename='/images/'+b.image) }}'
        alt = '{{b.title}}' title = '{{b.title}}'> 
    </div>
</section>
{% endblock %}